* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

/* Styling for Header */
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header a {
  text-decoration: none;
}
.logo {
  margin: 0;
  font-size: 1.5em;
}
.logo a {
  color: #ffac1c;
}
.logo a:hover {
  color: #edf0f1;
}
.nav-links {
  margin-top: 5px;
}
.logo a,
.nav-links a {
  padding-top: 7px;

  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.header .nav-links {
  margin-top: 5px;
}
.nav-links a {
  color: #edf0f1;
  font-size: 0.99em;
}
.nav-links a:hover {
  color: #ffac1c;
}
.header {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: #101010;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  width: 100%;
}
.search input[type='text'] {
  width: 300px;
  height: 27px;
  border-radius: 5px;
}
.search button {
  background-color: #101010;
  color: #edf0f1;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.6s ease;
}
.search button:hover {
  color: #ffac1c;
}

/*Responsive for Header*/

@media (min-width: 769px) {
  .header,
  .nav-links {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 80%;
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* styling for container/parent div */

#parent-container {
  width: 100%;
  height: 700px;
  position: relative;
  top: 90px;

  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

/* styling for image slide */
.sub-contain1 {
  width: 35%;
  height: 720px;
}
.sub-contain1 img {
  width: 100%;
  height: 460px;
}

/* styling for text/form */

.sub-contain2 {
  width: 50%;
  height: 720px;
}
.sub-contain2-2 {
  position: relative;
  top: 320px;
  left: 610px;
  width: 50px;
}

/* for car info text styling */

.sub-contain2 {
  font-size: 2em;
}

/* radio button styling */
.dealer-form {
  color: #101010;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  gap: 10px;
  position: relative;
  top: 2px;
  bottom: 10px;
}
.sub-form h4 {
  position: relative;
  top: -30px;
}

/* button complete order */

input[type='submit']:hover {
  color: #ffac1c;
}

.btn {
  color: #edf0f1;
  font-size: 22px;
  background-color: #101010;
  line-height: 35px;
  padding: 2px 10px;
  border-radius: 2px;
}
.complete-btn {
  top: 10px;
  position: relative;
}

/* only in styling for this part of footer */
.testing {
  width: 100%;
  height: 280px;
  position: relative;
  top: 130px;
  bottom: 0;
}

/* Styling for Footer */
.footer {
  background-color: #101010;
  padding: 70px 0;
  position: block;
  bottom: 0;
  width: 100%;
  height: 280px;
}

.container {
  margin: auto;

  max-width: 1170px;
}
.footer ul {
  list-style: none;
}
.footer img {
  width: 130px;
  height: 70px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffac1c;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-col ul,
li {
  margin-bottom: 10px;
}
.footer a,
ul,
li {
  text-decoration: none;
  color: #edf0f1;
  font-weight: 3000;
  transition: all 0.3s ease;
}
.footer a:hover {
  color: #ffac1c;
  padding-left: 5px;
}
.social-links i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #968d8d;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  transition: all 0.6s ease;
}
.footer-col .social-links i:hover {
  color: #ffac1c;
}
.contact i {
  padding-right: 10px;
}

/*Responsive for Footer*/

@media (max-width: 769px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    background-color: #101010;
  }
}
